name: Build & Push Docker Image (Docker Hub)

on:
  push:
    branches: [ "**" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3


      - name: Resolve app directory
        run: |
          if [ -f my_first_laravel_app/Dockerfile.prod ]; then
            echo "APP_DIR=my_first_laravel_app" >> $GITHUB_ENV
          else
            echo "APP_DIR=." >> $GITHUB_ENV
          fi
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.APP_DIR }}
          file: ${{ env.APP_DIR }}/Dockerfile.prod
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/youtube-demo-laravel:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/youtube-demo-laravel:${{ github.sha }}
