name: Build & Push Docker Image (Docker Hub)

on:
  push:
    branches: [ "**" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: my_first_laravel_app
          file: my_first_laravel_app/Dockerfile.prod
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/youtube-demo-laravel:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/youtube-demo-laravel:${{ github.sha }}
